<div class="modal fade" id="helpModal">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title">Data Entry Help</h3>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h5>Site</h5>
                <p>Choose the site you want to enter data for.</p>
                <h5>Characteristic</h5>
                <p>Choose the characteristic you want to enter data for. Only characteristics that are appropriate for the site will be displayed. The list of characteristics will
                    change based on what site you have picked. Depending on which characteristic you choose a Location will also need to be selected. If the appropriate
                    characteristic is not in the list talk to your site administrator.</p>
                <h5>Location</h5>
                <p>Depending on the characteristic, you will need to select a location. Only the appropriate locations will be available. If the location you need is not available
                    talk to your site administrator.</p>
                <h5>Collection Date</h5>
                <p>Enter the date that the sample was collected</p>
                <h5>Actual Measurement</h5>
                <p>This is the actual value of the measurement. Be sure to enter the value in the specified units.</p>
                <h5>Depth</h5>
                <p>Depending on the characteristic, you will need to enter the depth in feet at which the specific measurement was taken.</p>
                <h5>Comment</h5>
                <p>Enter any comments you would like to make about the measurement and how it was taken. This is optional.</p>
                <h5>Funding Source</h5>
                <p>If these measurements were being taken as part of a specific grant for example then select if.</p>
                <h5>Submit</h5>
                <p>When done press the Submit button to save your data entry. If all goes well you will get a message that it is saved and the screen will be reset, so you can enter
                    a new measurement. If something went wrong the error message will be displayed at the top of the page, and you will need to fix your data.</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" type="button">Close</button>
            </div>

        </div>
    </div>
</div>
