<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2" id="selectionDiv">
            <div class="container">
                <div class="row form-group pt-3" id="siteSelectionDiv">
                    <h5><label for="sitesChoice">Site:</label></h5>
                    <select class="form-control" id="sitesChoice" name="sitesChoice">
                        <option value=""></option>
                        <option th:each="site : ${sites}" th:utext="${site.description}" th:value="${site.id}"></option>
                    </select>
                </div>
                <div class="row form-group" id="characteristicSelectionDiv">
                    <h5><label for="characteristicsChoice">Characteristic:</label></h5>
                    <select class="form-control" id="characteristicsChoice" name="characteristicsChoice"></select>
                </div>

                <div class="row form-group" id="locationSelectionDiv"></div>

                <div class="row form-group" id="fromDateSelectionDiv">
                    <h5><label for="fromDateChoice">From Date:</label></h5>
                    <input class="form-control" id="fromDateChoice" name="fromDateChoice" th:type="date"/>
                </div>

                <div class="row form-group" id="toDateSelectionDiv">
                    <h5><label for="toDateChoice">To Date:</label></h5>
                    <input class="form-control" id="toDateChoice" name="toDateChoice" th:type="date"/>
                </div>
                <div class="row form-group pt-3" id="fundingSourceSelectionDiv">
                    <h5><label for="fundingSourceChoice">Funding Source:</label></h5>
                    <select class="form-control" id="fundingSourceChoice" name="fundingSourceChoice">
                        <option value=""></option>
                        <option th:each="fundingSource : ${fundingSources}" th:title="${fundingSource.description}" th:utext="${fundingSource.name}"
                                th:value="${fundingSource.id}"></option>
                    </select>
                </div>
                <div class="row form-group pt-3" id="submitSelectionDiv">
                    <button class="btn btn-primary" id='submitButton' name='submitButton' type="button">Search</button>
                </div>
            </div>
        </div>

        <div class="col-sm-10 text-left">
            <span class="bg-danger text-white" id="message"></span><br>

            <div class="container-fluid mt-3">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#data">Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#chart">Chart</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="container-fluid tab-pane active" id="data"><br>
                        <div id="resultDiv">
                            <p></p>
                            <h3>Welcome to the Pipe and North Pipe Lakes Data Repository</h3>
                            <p>
                                All data is available for you to view. On the left select a site and characteristic you would like to view.
                                Depending on the characteristic you pick you may also need to select the location where that characteristic
                                was measured at. Some characteristics can be measured at multiple locations.
                            </p>
                            <p>
                                You can optionally select a date range or leave the dates blank to view all the data.
                                You can also just enter a from date or to date only in order to specify your range. If you
                                enter both a from and to date, ensure that the from date is before the to date.
                            </p>
                            <p>
                                Once you 'Submit' your data request, the data will appear here in table form. You may select the
                                table of data and paste it into a spreadsheet of your choice to further analyze the data. The data
                                is free for you to view or use.
                            </p>
                            <p>
                                This data is collected by fellow citizens of the lake community and some of this data is reported
                                to the Wisconsin DNR and can be accessed on the Surface Water Integrated Monitoring System (SWIMS) for
                                <a href="https://apps.dnr.wi.gov/lakes/lakepages/LakeDetail.aspx?wbic=2490500" target="_blank">Pipe Lake</a> and
                                <a href="https://apps.dnr.wi.gov/lakes/lakepages/LakeDetail.aspx?wbic=2485700" target="_blank">North Pipe Lake</a>.
                            </p>
                            <p>
                                If you are provided with a login for this site you will be able to enter the data or even possibly
                                maintain the data. Contact the site administrators for more information.
                            </p>
                        </div>
                    </div>
                    <div class="container-fluid tab-pane fade" id="chart"><br>
                        <div class="chart-container" id="chartDiv">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>