<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Pipe Lake Audit Data</title>

    <div th:replace="~{fragments/headerIcon}"></div>
    <div th:replace="~{fragments/headerHref}"></div>
    <div th:replace="~{fragments/headerSrc}"></div>
    <script th:src="@{/secure/js/audit.js}" type="text/javascript"></script>
</head>
<body>

<div th:replace="~{fragments/navigation :: navigationField ('audit', 'no')}"></div>

<div class="container-fluid text-left" id="resultDiv">
    <div id="jsGrid"></div>
</div>

<div th:replace="~{fragments/footer :: footerField('yes')}"></div>

</body>
</html>
