<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Pipe Lake Characteristic Location Data</title>

    <div th:replace="~{fragments/headerIcon}"></div>
    <div th:replace="~{fragments/headerHref}"></div>
    <div th:replace="~{fragments/headerSrc}"></div>
    <script th:src="@{/secure/js/characteristicLocationMaintenance.js}" type="text/javascript"></script>
</head>
<body>

<div th:replace="~{fragments/navigation :: navigationField ('characteristicLocationMaintenance', 'no')}"></div>

<div class="container-fluid text-left">
    <input id="siteOptions" name="siteOptions" th:value="${sites}" type="hidden"/>
    <input id="characteristicOptions" name="characteristicOptions" th:value="${characteristics}" type="hidden"/>
    <input id="locationOptions" name="locationOptions" th:value="${locations}" type="hidden"/>

    <div class="row content">
        <div class="col-sm-12 text-left" id="resultDiv">
            <span class="bg-danger text-white" id="message"></span><br>
            <div class="container-fluid">
                <div id="jsGrid"></div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footerField('yes')}"></div>

</body>
</html>
