<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Pipe Lake Data Entry</title>

    <div th:replace="~{fragments/headerIcon}"></div>
    <div th:replace="~{fragments/headerHref}"></div>
    <div th:replace="~{fragments/headerSrc}"></div>
</head>
<body>

<script>
    function getLocations() {
        $("#message").text("").hide();
        let siteId = document.getElementById("sitesChoice").value;
        if (siteId) {
            $.ajax(
                {
                    type: "GET",
                    url: "/public/api/sites/" + siteId + "/locations",
                    dataType: "json",
                    success: function (locations) {
                        buildLocationsChoice(locations);
                    },
                    error: function (xhr) {
                        $("#message").text("There was an issue with your request. " + xhr.responseJSON.errorMessage).show();
                    }
                });
        } else {
            $('#locationsChoice').html('<option value=""></option>');
            $("#locationsChoice").trigger('contentChanged');
        }
    }

    function buildLocationsChoice(locations) {
        let html = '<option value=""></option>';
        for (let location of locations) {
            html += '<option value="';
            html += location.id;
            if (location.comment) {
                html += '" title="';
                html += location.comment;
            }
            html += '">';
            html += location.description;
            html += '</option>';
        }
        $('#locationsChoice').html(html);
        $("#locationsChoice").trigger('contentChanged');
    }
</script>

<div th:replace="~{fragments/navigation :: navigationField ('dataFileUpload', 'yes')}"></div>

<form method="POST" action="/page/measurementFileUpload" enctype="multipart/form-data">
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-12 text-left" id="resultDiv">
                <div class="container-fluid">
                    <span class="bg-danger text-white" th:text="${errorMessage}" id="message"></span><br>

                    <div class="row form-group" id="siteSelectionDiv">
                        <div class="col-sm-2">
                            <label for="sitesChoice">Site:</label>
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" required="required" id="sitesChoice" name="sitesChoice" onchange="getLocations()">
                                <option value=""></option>
                                <option th:each="site : ${sites}" th:utext="${site.description}" th:value="${site.id}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="row form-group" id="locationSelectionDiv">
                        <div class="col-sm-2"><label for="locationsChoice">Location:</label></div>
                        <div class="col-sm-4">
                            <select class="form-control" required="required" id="locationsChoice" name="locationsChoice">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="row form-group" id="fileUploadDiv">
                        <div class="col-sm-2">
                            <label for="dataFile">Data file from sensor:</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="file" required="required" id="dataFile" name="dataFile">
                        </div>
                    </div>

                    <div class="row form-group pt-3" id="submitSelectionDiv">
                        <input class="btn btn-primary" id='submitButton' name='submitButton' type="submit" value="Submit"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div th:replace="~{fragments/footer :: footerField('yes')}"></div>
<div th:replace="~{fragments/dataFileUploadHelp}"></div>

</body>
</html>
