<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Pipe Lake Data Entry</title>

    <div th:replace="~{fragments/headerIcon}"></div>
    <div th:replace="~{fragments/headerHref}"></div>
    <div th:replace="~{fragments/headerSrc}"></div>
    <script th:src="@{/secure/js/dataEntry.js}" type="text/javascript"></script>
</head>
<body>

<div th:replace="~{fragments/navigation :: navigationField ('dataEntry', 'yes')}"></div>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2" id="selectionDiv">
            <div class="container">
                <div class="row form-group pt-3" id="siteSelectionDiv">
                    <h5><label for="sitesChoice">Site:</label></h5>
                    <select class="form-control" id="sitesChoice" name="sitesChoice">
                        <option value=""></option>
                        <option th:each="site : ${sites}" th:utext="${site.description}" th:value="${site.id}"></option>
                    </select>
                </div>
                <div class="row form-group" id="characteristicSelectionDiv">
                    <h5><label for="characteristicsChoice">Characteristic:</label></h5>
                    <select class="form-control" id="characteristicsChoice" name="characteristicsChoice"></select>
                </div>

                <div class="row form-group" id="locationSelectionDiv">
                </div>
                <div class="row form-group pt-3" id="submitSelectionDiv">
                    <input class="btn btn-primary" id='submitButton' name='submitButton' type="submit" value="Submit"/>
                </div>
            </div>
        </div>

        <div class="col-sm-6 text-left" id="resultDiv">
            <div class="container">
                <span class="bg-danger text-white" id="message"></span><br>
                <p></p>
                <div class="row form-group" id="collectionDateDiv">
                    <div class="col-sm-12">
                        <label for="collectionDateField"><b>Collection Date:</b></label>
                        <input class="form-control" id="collectionDateField" required type="date">
                    </div>
                </div>
                <!--            hide if characteristic is for EVENT -->
                <div class="row form-group" id="valueDiv"></div>
                <!--            hide if characteristic.enableDepth is false -->
                <div class="row form-group" id="depthDiv"></div>
                <div class="row form-group" id="commentDiv">
                    <div class="col-sm-12">
                        <label for="commentField"><b>Comment (Optional):</b></label>
                        <textarea class="form-control" id="commentField" rows="5"></textarea>
                    </div>
                </div>
                <div class="row form-group" id="fundingSourceSelectionDiv">
                    <div class="col-sm-12">
                        <label for="fundingSourceChoice"><b>Funding Source (Optional):</b></label>
                        <select class="form-control" id="fundingSourceChoice" name="fundingSourceChoice">
                            <option value=""></option>
                            <option th:each="fundingSource : ${fundingSources}" th:title="${fundingSource.description}"
                                    th:utext="${fundingSource.name}" th:value="${fundingSource.id}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footerField('yes')}"></div>
<div th:replace="~{fragments/dataEntryHelp}"></div>

</body>
</html>
