<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Pipe Lake Documents</title>

    <div th:replace="~{fragments/headerIcon}"></div>
    <div th:replace="~{fragments/headerHref}"></div>
    <div th:replace="~{fragments/headerSrc}"></div>
    <script th:src="@{/public/js/document.js}" type="text/javascript"></script>
</head>
<body>

<div th:replace="~{fragments/navigation :: navigationField ('documents', 'no')}"></div>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2" id="selectionDiv">
            <div class="container">
                <div class="row form-group pt-3" id="siteSelectionDiv">
                    <h5><label for="sitesChoice">Site:</label></h5>
                    <select class="form-control" id="sitesChoice" name="sitesChoice">
                        <option value=""></option>
                        <option th:each="site : ${sites}" th:utext="${site.description}" th:value="${site.id}"></option>
                    </select>
                </div>
                <div class="row form-group" id="categoryPhraseDiv">
                    <h5><label for="categoryPhrase">Category</label></h5>
                    <input class="form-control" id="categoryPhrase" name="categoryPhrase" th:type="text"/>
                </div>
                <div class="row form-group" id="searchPhraseDiv">
                    <h5><label for="searchPhrase">Search Phrase</label></h5>
                    <input class="form-control" id="searchPhrase" name="searchPhrase" th:type="text"/>
                </div>
                <div class="row form-group pt-3" id="submitSelectionDiv">
                    <button class="btn btn-primary" id='submitButton' name='submitButton' type="button">Search</button>
                </div>
            </div>
        </div>

        <div class="col-sm-10 text-left" id="resultDiv">
            <span class="bg-danger text-white" id="message"></span><br>
            <div class="container-fluid">
                <div id="documentDiv">
                    <p></p>
                    <h3>Welcome to the Document Store</h3>
                    <p>
                        Here you will find all the PDF documents that are important to your organization. The documents are organized by site.
                        <b>Start by selecting a 'Site' on the left.</b> A high level list of the different categories the documents are sorted into will
                        appear for the specific site you choose. Only sites that have documents available will be available for you to choose
                        from.
                    </p>
                    <p>
                        Click through the different categories to view the different potential sub-categories. Eventually you will get to the
                        list of documents specific to that sub-category. When you click on a document link it will open that document in a new
                        tab or window. You can switch back to this page to continue browsing the available documents. All documents are free
                        and available to the public for you to view. Please follow any copyright notices that might appear in individual documents.
                    </p>
                    <p>
                        If you are looking for something specific that a document might mention but are not sure which document it is. You are in
                        luck. <b>Enter the phrase you are searching for in the 'Search Phrase' box on the left and press the 'Search' button.</b>
                        Only the documents that contain that phrase will then be selected for you and presented in the same manner as before. You
                        will still need to select a site before doing a search. You will need to drill down into the different categories to
                        view the documents. The total number of documents returned is displayed just below the title. If your search phrase is
                        very general you might just get all the documents back. In this case try to make your search phrase more specific.
                    </p>
                    <p>
                        You may further reduce the number of documents returned to you by specifying a category. You do not need to enter the
                        complete category name. Any portion you enter will be used to do the match. Any category or sub-category that matches
                        the given phrase will be returned to you.
                    </p>
                    <p>
                        If you have documents listed under many sites you can use the site drop down list to switch between the different sites.
                        If there is a search phrase in the box it will be applied to the new site as you change sites. To clear the search phrase
                        just delete it and press the search button with nothing in the search phrase box.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footerField('yes')}"></div>

</body>
</html>
