<!DOCTYPE html>
<html lang="en-US" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Pipe Lake Data</title>

    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/ico/apple-touch-icon.png}"/>
    <link rel="icon" sizes="32x32" th:href="@{/ico/favicon-32x32.png}" type="image/png"/>
    <link rel="icon" sizes="16x16" th:href="@{/ico/favicon-16x16.png}" type="image/png"/>
    <link rel="manifest" th:href="@{/ico/site.webmanifest}"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script th:src="@{/js/index.js}" type="text/javascript"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{/index}">Pipe Lake Data</a>
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" th:href="@{/documents}">Documents</a></li>
            <li class="nav-item"><a class="nav-link" href="https://pipelakes.org/">Pipe Lake District</a></li>
            <li class="nav-item"><a class="nav-link" href="https://dnr.wi.gov/lakes/lakepages/LakeDetail.aspx?wbic=2490500">DNR Pipe Lake</a></li>
            <li class="nav-item" sec:authorize="hasAnyRole('ROLE_REPORTER','ROLE_ADMIN')"><a class="nav-link" th:href="@{/dataEntry}">Enter Data</a></li>
            <li class="nav-item dropdown" sec:authorize="hasAnyRole('ROLE_DOCUMENT_ADMIN','ROLE_ADMIN')">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="nav-maintenance">Maintenance</a>
                <div class="dropdown-menu bg-dark">
                    <a class="dropdown-item text-light" th:href="@{/documentMaintenance}">Documents</a>
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-light" th:href="@{/fundingSourceMaintenance}">Funding Sources</a>
                        <a class="dropdown-item text-light" th:href="@{/characteristicMaintenance}">Characteristics</a>
                        <a class="dropdown-item text-light" th:href="@{/locationMaintenance}">Locations</a>
                        <a class="dropdown-item text-light" th:href="@{/characteristicLocationMaintenance}">Characteristic Locations</a>
                        <a class="dropdown-item text-light" th:href="@{/dataMaintenance}">Measurements</a>
                        <a class="dropdown-item text-light" th:href="@{/dataFileUpload}">Data File Upload</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-light" th:href="@{/userMaintenance}">Users</a>
                        <a class="dropdown-item text-light" th:href="@{/audit}">Audit</a>
                        <a class="dropdown-item text-light" th:href="@{/jobs}">Job Maintenance</a>
                        <a class="dropdown-item text-light" th:href="@{/swagger-ui.html}">API Documentation</a>
                    </div>
                </div>
            </li>

        </ul>
        <ul class="navbar-nav">
            <li class="nav-item" sec:authorize="isAnonymous()"><a class="nav-link" th:href="@{/login}"><i aria-hidden="true" class="fas fa-sign-in-alt"></i>Login</a></li>
            <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/logout}"><i aria-hidden="true" class="fas fa-sign-out-alt"></i>Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid text-center">

    <div class="row content">
        <div class="col-sm-2 bg-secondary text-light" id="selectionDiv">
            <div class="container">
                <div class="row form-group pt-3" id="siteSelectionDiv">
                    <h5><label for="sitesChoice">Site:</label></h5>
                    <select class="form-control" id="sitesChoice" name="sitesChoice">
                        <option value=""></option>
                        <option th:each="site : ${sites}" th:utext="${site.description}" th:value="${site.id}"/>
                    </select>
                </div>
                <div class="row form-group" id="characteristicSelectionDiv">
                    <h5><label for="characteristicsChoice">Characteristic:</label></h5>
                    <select class="form-control" id="characteristicsChoice" name="characteristicsChoice"></select>
                </div>

                <div class="row form-group" id="locationSelectionDiv">
                </div>

                <div class="row form-group" id="fromDateSelectionDiv">
                    <h5><label for="fromDateChoice">From Date:</label></h5>
                    <input class="form-control" id="fromDateChoice" name="fromDateChoice" th:type="date"/>
                </div>

                <div class="row form-group" id="toDateSelectionDiv">
                    <h5><label for="toDateChoice">To Date:</label></h5>
                    <input class="form-control" id="toDateChoice" name="toDateChoice" th:type="date"/>
                </div>
                <div class="row form-group pt-3" id="fundingSourceSelectionDiv">
                    <h5><label for="fundingSourceChoice">Funding Source:</label></h5>
                    <select class="form-control" id="fundingSourceChoice" name="fundingSourceChoice">
                        <option value=""></option>
                        <option th:each="fundingSource : ${fundingSources}" th:title="${fundingSource.description}" th:utext="${fundingSource.name}" th:value="${fundingSource.id}"/>
                    </select>
                </div>
                <div class="row form-group pt-3" id="submitSelectionDiv">
                    <button class="btn btn-primary" id='submitButton' name='submitButton' type="button">Search</button>
                </div>
            </div>
        </div>

        <div class="col-sm-10 text-left">
            <span class="bg-danger text-white" id="message"></span><br>

            <div class="container-fluid mt-3">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#data">Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#chart">Chart</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="container-fluid tab-pane active" id="data"><br>
                        <div id="resultDiv">
                            <p></p>
                            <h3>Welcome to the Pipe and North Pipe Lakes Data Repository</h3>
                            <p>
                                All data is available for you to view. On the left select a site and characteristic you would like to view.
                                Depending on the characteristic you pick you may also need to select the location where that characteristic
                                was measured at. Some characteristics can be measured at multiple locations.
                            </p>
                            <p>
                                You can optionally select a date range or leave the dates blank to view all the data.
                                You can also just enter a from date or to date only in order to specify your range. If you
                                enter both a from and to date, ensure that the from date is before the to date.
                            </p>
                            <p>
                                Once you 'Submit' your data request, the data will appear here in table form. You may select the
                                table of data and paste it into a spread sheet of your choice to further analyze the data. The data
                                is free for you to view or use.
                            </p>
                            <p>
                                This data is collected by fellow citizens of the lake community and some of this data is reported
                                to the Wisconsin DNR and can be accessed on the Surface Water Integrated Monitoring System (SWIMS) for
                                <a href="https://dnr.wi.gov/lakes/lakepages/LakeDetail.aspx?wbic=2490500&page=more">Pipe Lake</a> and
                                <a href="https://dnr.wi.gov/lakes/lakepages/LakeDetail.aspx?wbic=2485700&page=more">North Pipe Lake</a>.
                            </p>
                            <p>
                                If you are provided with a login for this site you will be able to enter the data or even possibly
                                maintain the data. Contact the site administrators for more information.
                            </p>
                        </div>
                    </div>
                    <div class="container-fluid tab-pane fade" id="chart"><br>
                        <div class="chart-container" id="chartDiv">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<footer class="page-footer bg-dark text-light font-small">
    <div class="container-fluid text-center  font-weight-light">
        <div class="row">
            <div class="col-sm-2 text-left">
                <p><small><a th:href="@{/privacy}">Privacy Statement</a></small></p>
            </div>
            <div class="col-sm-8"></div>
            <div class="col-sm-2 text-right">
                <p><small>Version: <span th:text="${version}"></span></small></p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
