<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Pipe Lake Jobs</title>

    <div th:replace="~{fragments/headerIcon}"></div>
    <div th:replace="~{fragments/headerHref}"></div>
    <div th:replace="~{fragments/headerSrc}"></div>
</head>
<body>

<div th:replace="~{fragments/navigation :: navigationField ('jobs', 'no')}"></div>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-1" id="selectionDiv">
            <div class="container"></div>
        </div>

        <div class="col-sm-11 text-left" id="resultDiv">
            <span class="bg-danger text-white" id="message"></span><br>
            <div class="container-fluid">
                <p>The following buttons allow you to run the normally scheduled jobs on demand. These jobs normally run in the background on a scheduled basis.
                    This page allows you to run these jobs as soon as you push the button. When the job is complete you will be returned to the home page.
                    It may take several minutes for the job to complete.</p>
                <p></p>
                <a class="btn btn-info" th:href="@{/jobs/swims}">Collect SWIMS Data since beginning of time</a>
                <p></p>
                <a class="btn btn-info" th:href="@{/jobs/swims?currentYear=true}">Collect SWIMS Data for current year</a>
                <p></p>
                <a class="btn btn-info" th:href="@{/jobs/audit/truncate}">Truncate audit logs</a>
                <p></p>
                <a class="btn btn-info" th:href="@{/jobs/ftp/process}">Process FTP files</a>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footerField('yes')}"></div>

</body>
</html>
