<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Pipe Lake Privacy Statement</title>

    <div th:replace="~{fragments/headerIcon}"></div>
    <div th:replace="~{fragments/headerHref}"></div>
    <div th:replace="~{fragments/headerSrc}"></div>
</head>
<body>

<div th:replace="~{fragments/navigation :: navigationField ('privacy', 'no')}"></div>

<div class="container-fluid text-center">

    <div class="row content">
        <div class="col-sm-1" id="selectionDiv">
            <div class="container"></div>
        </div>

        <div class="col-sm-11 text-left">
            <span class="bg-danger text-white" id="message"></span><br>
            <div class="container-fluid mt-3">

                <h2><strong>Pipe and North Pipe Lakes Protection and Rehabilitation District Privacy Policy</strong></h2>
                <p></p>

                <h4><strong>Information Collection, Use, and Sharing</strong></h4>
                <p>We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email, forms,
                    blogs, or another direct contact from you. We will not sell or rent this information to anyone.</p>
                <p>We will use your information via cookies stored on your computer to respond to you. We may share your information with third-party vendors to fulfill your
                    request or to work together with Pipe and North Pipe Lakes Protection and Rehabilitation District and their partners.</p>
                <p>Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.</p>

                <h4><strong>Lead Details</strong></h4>
                <p>We will use your information to contact you about our services and products.</p>

                <h4><strong>Your Access to and Control over Information</strong></h4>
                <p>You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on
                    our website. Information that we can offer to you upon contact with us:</p>
                <ul>
                    <li>See what data we have about you, if any.</li>
                    <li>Revise/correct any data we have about you.</li>
                    <li>Delete any data we have about you.</li>
                    <li>Express any concern you have about our use of your data.</li>
                </ul>

                <h4><strong>Updates</strong></h4>
                <p>Our Privacy Policy may change from time to time and all updates will be posted on this page.</p>
                <p>Last updated on 6/5/2023</p>

            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footerField('no')}"></div>

</body>
</html>